@import url('https://fonts.googleapis.com/css?family=Forum|Open+Sans');


//Guideline
//Colors

$color-strong-red: #FF0000;
$color-salmon-pink: #F37465;
$color-blue-grey: #465363;
$color-light-turquoise: #76B8BA;
$color-dark-white: #F8F7F7;
$color-dark-grey: #444444;
$color-regular-grey: #666666;
$color-light-grey: #AAAAAA;
$color-white-grey: #DDDDDD;

//Type

//-Desktop

$font-size-xl: 32px;
$font-size-l: 24px;
$font-size-m: 16px;
$font-size-s: 14px;
$font-size-xs: 12px;

$font-open-sans: 'Open Sans', sans-serif;

$font-weight-title: 400;
$font-weight-button: 600;
$font-weight-text: 700;

//Paddings

$padding-xs: 4px;
$padding-s: 8px;
$padding-m: 16px;
$padding-l: 24px;
$padding-xl: 32px;

//Margins

$margin-medium: 16px;
$margin-big: 64px;

//Borders

$border-normal: 1px solid;
$border-big: 2px solid;
$border-thick: 5px solid;
$border-dotted: 2px dotted;